<h1 id="result">It was a draw, both players picked <%= @draw_choice %>.</h1>
<h2>Maybe you should try again? Hit the home button.</h2>
<nav>
  <ul id="navigation">
    <li><a class="nav_link" href="http://localhost:4567/">Home</a></li>
  </ul>
</nav>
