<html>
<head>
  <title>RPS</title>
  <link rel="stylesheet" href="/style.css" />
  <link href="https://fonts.googleapis.com/css?family=Noto+Serif" rel="stylesheet">
</head>
<body>
  <%= yield %>
</body>
</html>
