<h1>Do you wanna play a game?</h1>
<img src="./images/jigsaw.png"/>
<h1>Don't worry, it's only Rock Paper Scissors...</h1>
<h2>The rules of the game:</h2>
<ul id="rules">
  <li>Two player game...</li>
  <li>Each player can choose between Rock, Paper or Scissors</li>
  <li>Rock beats Scissors</li>
  <li>Paper beats Rock</li>
  <li>Scissors beats Paper</li>
</ul>
<h3>To play simply attach 2 choices in the URL to compare them, the winner will be announced when you press return.</h3>
<h4>E.g. http://localhost:4567/paper/rock</h4>
